In [25]:
import pandas as pd
import geopandas as gpd
from pyproj import Geod
import numpy as np
import matplotlib.pyplot as plt

In [26]:
data = pd.read_csv("../data/input/FD_MOBPRO_2018_Result.csv", delimiter=";")
data

,COMMUNE,DCLT,Deux-roues motorisé,Marche à pied,Pas de transport (travail domicile),Transports en commun,"Voiture, camion, fourgonnette",Vélo,TOTAL_FLUX
0,75056,75101,720.495825,2043.869799,694.733580,11601.673029,750.414494,1142.738721,16953.925447
1,75056,75102,855.078358,2868.864931,746.213416,13180.193467,680.428909,1472.991096,19803.770178
2,75056,75103,653.851574,2616.495421,1079.324791,7179.162863,502.178539,1233.618721,13264.631910
3,75056,75104,315.281048,767.315441,19.311031,6114.077824,317.563240,748.205840,8281.754425
4,75056,75105,401.980878,1202.620992,14.163837,7699.723947,371.697433,1514.001360,11204.188447
...,...,...,...,...,...,...,...,...,...
53450,95607,95582,0.000000,0.000000,0.000000,13.332436,71.870058,0.000000,85.202493
53451,95607,95585,0.000000,0.000000,0.000000,6.681734,71.098696,0.000000,77.780430
53452,95607,95598,5.000065,0.000000,0.000000,12.023284,56.784715,0.000000,73.808064
53453,95607,95604,0.000000,0.000000,0.000000,5.384228,0.000000,0.000000,5.384228
53454,95607,95607,19.949483,482.602786,246.196692,237.533826,1006.112419,52.548490,2044.943695

In [27]:
communes_geoms = gpd.read_file("../data/input/COMMUNE.SHP")
communes_geoms = communes_geoms[communes_geoms["INSEE_REG"] == "11"]
communes_geoms.INSEE_COM.unique()

array(['77018', '95523', '77431', ..., '78337', '91273', '77072'],
      shape=(1268,), dtype=object)

In [28]:
data.rename(columns={"COMMUNE": "COM_ORG", "DCLT": "COM_DEST", "Deux-roues motorisé": "TRANS_DRM", "Marche à pied": "TRANS_MP", "Pas de transport (travail domicile)": "TRANS_M", "Transports en commun": "TRANS_TC", "Voiture, camion, fourgonnette": "TRANS_VT", "Vélo": "TRANS_VL"}, inplace=True)
data.COM_ORG.unique()

array([75056, 77001, 77002, 77003, 77004, 77005, 77006, 77007, 77008,
       77009, 77010, 77011, 77012, 77013, 77014, 77083, 77084, 77085,
       77086, 77087, 77088, 77089, 77090, 77091, 77093, 77094, 77095,
       77096, 77097, 77098, 77099, 77100, 77101, 77102, 77103, 77104,
       77106, 77107, 77108, 77109, 77110, 77111, 77112, 77113, 77114,
       77115, 77116, 77117, 77118, 77119, 77120, 77121, 77122, 77123,
       77124, 77125, 77126, 77127, 77128, 77129, 77130, 77131, 77132,
       77133, 77134, 77135, 77136, 77137, 77138, 77139, 77140, 77141,
       77142, 77143, 77144, 77145, 77146, 77147, 77148, 77150, 77151,
       77152, 77153, 77154, 77155, 77156, 77157, 77158, 77159, 77161,
       77162, 77163, 77164, 77165, 77167, 77168, 77169, 77171, 77172,
       77173, 77174, 77175, 77176, 77177, 77178, 77179, 77180, 77181,
       77182, 77183, 77184, 77185, 77186, 77187, 77188, 77190, 77191,
       77192, 77193, 77194, 77195, 77196, 77197, 77198, 77199, 77200,
       77201, 77202, 77203, 77204, 77205, 77206, 77207, 77208, 77209,
       77210, 77211, 77212, 77214, 77215, 77216, 77217, 77218, 77219,
       77220, 77221, 77222, 77223, 77224, 77225, 77226, 77227, 77228,
       77229, 77230, 77231, 77232, 77233, 77234, 77235, 77236, 77237,
       77238, 77239, 77240, 77241, 77242, 77243, 77244, 77245, 77246,
       77247, 77248, 77249, 77250, 77251, 77252, 77253, 77254, 77255,
       77256, 77257, 77258, 77259, 77260, 77261, 77262, 77263, 77264,
       77265, 77266, 77267, 77268, 77269, 77270, 77271, 77272, 77273,
       77274, 77275, 77276, 77277, 77278, 77279, 77280, 77281, 77282,
       77283, 77284, 77285, 77286, 77287, 77288, 77289, 77290, 77291,
       77292, 77293, 77294, 77295, 77296, 77297, 77298, 77300, 77301,
       77302, 77303, 77304, 77305, 77306, 77307, 77308, 77309, 77310,
       77311, 77312, 77313, 77314, 77315, 77316, 77317, 77318, 77319,
       77320, 77321, 77322, 77323, 77325, 77326, 77327, 77328, 77329,
       77330, 77331, 77332, 77333, 77335, 77336, 77337, 77338, 77339,
       77340, 77341, 77342, 77343, 77344, 77345, 77347, 77348, 77349,
       77350, 77352, 77353, 77354, 77355, 77356, 77357, 77358, 77359,
       77360, 77361, 77363, 77364, 77365, 77366, 77367, 77368, 77369,
       77370, 77371, 77372, 77373, 77374, 77376, 77377, 77378, 77379,
       77380, 77381, 77382, 77383, 77384, 77385, 77386, 77387, 77388,
       77389, 77390, 77391, 77392, 77393, 77394, 77395, 77396, 77397,
       77398, 77400, 77401, 77402, 77403, 77404, 77405, 77406, 77407,
       77408, 77409, 77410, 77411, 77412, 77413, 77414, 77415, 77416,
       77417, 77418, 77419, 77420, 77421, 77423, 77424, 77425, 77426,
       77427, 77428, 77429, 77430, 77431, 77432, 77433, 77434, 77435,
       77436, 77437, 77438, 77439, 77440, 77441, 77442, 77443, 77444,
       77445, 77446, 77447, 77448, 77449, 77450, 77451, 77453, 77454,
       77455, 77456, 77457, 77458, 77459, 77460, 77461, 77462, 77463,
       77464, 77465, 77466, 77467, 77468, 77469, 77470, 77471, 77472,
       77473, 77474, 77475, 77476, 77477, 77478, 77479, 77480, 77481,
       77482, 77483, 77484, 77485, 77486, 77487, 78029, 78030, 78031,
       78033, 78034, 78036, 78043, 78048, 78049, 78050, 78053, 78057,
       78062, 78068, 78070, 78071, 78072, 78073, 78076, 78077, 78082,
       78084, 78087, 78089, 78090, 78092, 78096, 78104, 78107, 78108,
       78113, 78117, 78118, 78120, 78123, 78124, 78125, 78126, 78165,
       78168, 78171, 78172, 78185, 78188, 78189, 78190, 78192, 78193,
       78194, 78196, 78202, 78206, 78208, 78209, 78217, 78220, 78224,
       78227, 78230, 78231, 78233, 78234, 78236, 78238, 78239, 78242,
       78245, 78246, 78255, 78261, 78262, 78263, 78264, 78265, 78267,
       78269, 78276, 78278, 78281, 78283, 78285, 78289, 78290, 78291,
       78296, 78297, 78299, 78300, 78302, 78305, 78307, 78310, 78311,
       78314, 78317, 78320, 78321, 78322, 78324, 78325, 78327, 78329,
       78334, 78335, 78337, 78343, 78344, 78346, 78349, 78350, 78354,
       78356, 78358, 78361, 78362, 78364, 78366, 78367, 78368, 78372,
       78380, 78381, 78382, 78383, 78384, 78385, 78389, 78391, 78396,
       78397, 78398, 78401, 78402, 78403, 78404, 78406, 78407, 78410,
       78413, 78415, 78416, 78417, 78418, 78420, 78423, 78431, 78437,
       78439, 78440, 78442, 78443, 78444, 78451, 78455, 78460, 78464,
       78465, 78466, 78470, 78472, 78474, 78475, 78478, 78481, 78484,
       78486, 78490, 78497, 78498, 78499, 78501, 78502, 78505, 78506,
       78513, 78516, 78517, 78518, 78520, 78522, 78528, 78530, 78531,
       78536, 78537, 78545, 78548, 78550, 78551, 78557, 78558, 78559,
       78561, 78562, 78564, 78565, 78567, 78569, 78571, 78575, 78576,
       78586, 78588, 78590, 78591, 78597, 78601, 78605, 78606, 78608,
       78609, 78615, 78616, 78618, 78620, 78621, 78623, 78624, 78638,
       78640, 78642, 78643, 78644, 78646, 78647, 78650, 78653, 78655,
       78668, 78672, 78674, 78677, 78681, 78683, 78686, 78688, 91001,
       91016, 91017, 91021, 91022, 91027, 91035, 91037, 91038, 91041,
       91044, 91045, 91047, 91064, 91067, 91069, 91079, 91080, 91081,
       91085, 91086, 91093, 91095, 91097, 91098, 91099, 91100, 91103,
       91105, 91106, 91109, 91111, 91112, 91114, 91115, 91121, 91122,
       91129, 91130, 91131, 91132, 91135, 91136, 91137, 91148, 91156,
       91159, 91161, 91174, 91175, 91179, 91180, 91184, 91186, 91191,
       91195, 91198, 91200, 91201, 91204, 91207, 91215, 91216, 91223,
       91225, 91226, 91228, 91232, 91235, 91240, 91243, 91244, 91247,
       91248, 91249, 91272, 91273, 91274, 91275, 91284, 91286, 91292,
       91293, 91294, 91312, 91315, 91318, 91319, 91326, 91330, 91332,
       91333, 91338, 91339, 91340, 91345, 91347, 91359, 91363, 91374,
       91376, 91377, 91570, 91573, 91577, 91578, 91579, 91581, 91587,
       91589, 91691, 91692, 92002, 92004, 92012, 92014, 92019, 92020,
       92022, 92023, 92024, 92025, 92032, 92033, 92035, 92036, 92040,
       92044, 92049, 92050, 93001, 93005, 93006, 93007, 93008, 93010,
       93013, 93014, 93015, 93027, 93029, 93030, 93031, 93032, 93033,
       93039, 93045, 93046, 93047, 93048, 93049, 93050, 93051, 93053,
       93055, 93057, 93059, 93061, 93062, 93063, 93064, 93066, 93070,
       93071, 93072, 93073, 93074, 93077, 93078, 93079, 94001, 94002,
       94003, 94004, 94011, 94015, 94016, 94017, 94018, 94019, 94021,
       94022, 94028, 94033, 94034, 94037, 94038, 94041, 94054, 94055,
       94056, 94058, 94059, 94060, 94065, 94067, 94076, 94080, 94081,
       95002, 95008, 95011, 95012, 95014, 95018, 95252, 95253, 95254,
       95256, 95257, 95258, 95268, 95270, 95271, 95277, 95428, 95429,
       95430, 95436, 95438, 95445, 95446, 95447, 95450, 95452, 95456,
       95459, 95462, 95476, 95580, 95582, 95584, 95585, 95592, 95594,
       95598, 95604, 95607])

In [29]:
cols_flux = ['TRANS_DRM', 'TRANS_MP', 'TRANS_TC', 'TRANS_VT', 'TRANS_VL']
data["TOTAL_FLUX"] = data[cols_flux].sum(axis=1)

data['COM_ORG'] = data['COM_ORG'].astype(str)
data['COM_DEST'] = data['COM_DEST'].astype(str)
communes_geoms['INSEE_COM'] = communes_geoms['INSEE_COM'].astype(str)

data['COM_ORG'] = data['COM_ORG'].str.zfill(5)
data['COM_DEST'] = data['COM_DEST'].str.zfill(5)

In [30]:
communes_l93 = communes_geoms.to_crs(epsg=2154)
centroids_l93 = communes_l93.geometry.centroid

centroids_wgs84 = centroids_l93.to_crs(epsg=4326)

ref_communes = pd.DataFrame({
    'INSEE_COM': communes_geoms['INSEE_COM'],
    'lon': centroids_wgs84.x,
    'lat': centroids_wgs84.y
})


data_merged = data.merge(ref_communes, left_on='COM_ORG', right_on='INSEE_COM', how='left')
data_merged.rename(columns={'lon': 'lon_org', 'lat': 'lat_org'}, inplace=True)
data_merged.drop(columns=['INSEE_COM'], inplace=True)

data_merged = data_merged.merge(ref_communes, left_on='COM_DEST', right_on='INSEE_COM', how='left')
data_merged.rename(columns={'lon': 'lon_dest', 'lat': 'lat_dest'}, inplace=True)
data_merged.drop(columns=['INSEE_COM'], inplace=True)

g = Geod(ellps='WGS84')
mask_valid = data_merged['lon_org'].notna() & data_merged['lon_dest'].notna()

data_merged['DISTANCE'] = np.nan

if mask_valid.any():
    _, _, dist_meters = g.inv(
        data_merged.loc[mask_valid, 'lon_org'].values,
        data_merged.loc[mask_valid, 'lat_org'].values,
        data_merged.loc[mask_valid, 'lon_dest'].values,
        data_merged.loc[mask_valid, 'lat_dest'].values
    )
    data_merged.loc[mask_valid, 'DISTANCE'] = dist_meters / 1000


data_merged = data_merged[~data_merged['DISTANCE'].isna()]

In [31]:
data_2013  = data_merged[['COM_ORG', 'COM_DEST', 'TRANS_MP', 'TRANS_DRM','TRANS_TC', 'TRANS_VT', 'TRANS_VL', "TOTAL_FLUX", 'DISTANCE']]
data_2013

,COM_ORG,COM_DEST,TRANS_MP,TRANS_DRM,TRANS_TC,TRANS_VT,TRANS_VL,TOTAL_FLUX,DISTANCE
20,75056,77005,0.000000,0.000000,0.000000,7.714069,0.00000,7.714069,27.797472
21,75056,77014,0.000000,0.000000,32.925984,3.902907,0.00000,36.828891,57.073037
22,75056,77018,0.000000,0.000000,3.132769,4.791736,0.00000,7.924505,34.900554
23,75056,77037,0.000000,0.000000,2.855915,2.835757,0.00000,5.691672,49.958129
24,75056,77053,0.000000,0.000000,30.962440,39.761366,0.00000,70.723806,27.115296
...,...,...,...,...,...,...,...,...,...
53450,95607,95582,0.000000,0.000000,13.332436,71.870058,0.00000,85.202493,6.495480
53451,95607,95585,0.000000,0.000000,6.681734,71.098696,0.00000,77.780430,12.407829
53452,95607,95598,0.000000,5.000065,12.023284,56.784715,0.00000,73.808064,7.230841
53453,95607,95604,0.000000,0.000000,5.384228,0.000000,0.00000,5.384228,25.248395
53454,95607,95607,482.602786,19.949483,237.533826,1006.112419,52.54849,1798.747004,0.000000

In [56]:
%%sql
SELECT * from data_2013 WHERE  COM_ORG = '92062'

Empty DataFrame
Columns: [COM_ORG, COM_DEST, TRANS_MP, TRANS_DRM, TRANS_TC, TRANS_VT, TRANS_VL, TOTAL_FLUX, DUREE]
Index: []

In [32]:
vitesse_tc = 25
duree_base = data_2013['DISTANCE'] / vitesse_tc
data_2013 = data_2013.copy()
for year in range(2013, 2014):
    variation = np.random.normal(0, 0.05, len(data_2013))
    data_2013.loc[:, 'DUREE'] = duree_base * 60 * (1 + variation)

data_2013 = data_2013.drop("DISTANCE", axis='columns')
data_2013.to_csv("../data/output/data_2013.csv")

In [33]:
# dfs = {2013: data_2013.copy()}
#
# for year in range(2014, 2022):
#     df_prev = dfs[year - 1].copy()
#
#     # Garder les colonnes de base
#     base_cols = ['COM_ORG', 'COM_DEST', 'TOTAL_FLUX', 'TRANS_MP', 'TRANS_TC', 'TRANS_VT', 'TRANS_DRM', 'TRANS_VL']
#     df = df_prev[base_cols].copy()
#
#     # Calculer la durée pour l'année en cours
#     variation_duree = np.random.normal(0, 0.05, len(df))
#
#     # Récupérer la durée de l'année précédente
#     prev_duree = df_prev['DUREE'].copy() if year == 2014 else df_prev['DUREE'].copy()
#     df['DUREE'] = prev_duree * (1 + variation_duree)
#
#     # Calculer delta
#     delta = (df['DUREE'] - prev_duree) / prev_duree
#
#     # Appliquer les sensibilités
#     sens_mp = -0.4
#     sens_tc = -0.6
#     sens_vt = 0.4
#     sens_drm = 0.15
#     sens_vl = 0.05
#
#     df['TRANS_MP'] = df_prev['TRANS_MP'] * (1 + sens_mp * delta)
#     df['TRANS_TC'] = df_prev['TRANS_TC'] * (1 + sens_tc * delta)
#     df['TRANS_VT'] = df_prev['TRANS_VT'] * (1 + sens_vt * delta)
#     df['TRANS_DRM'] = df_prev['TRANS_DRM'] * (1 + sens_drm * delta)
#     df['TRANS_VL'] = df_prev['TRANS_VL'] * (1 + sens_vl * delta)
#
#     trans_cols = ['TRANS_MP', 'TRANS_TC', 'TRANS_VT', 'TRANS_DRM', 'TRANS_VL']
#     # Clip et normalisation
#     for col in trans_cols:
#         df[col] = df[col].clip(lower=0)
#
#     sum_modes = df[trans_cols].sum(axis=1)
#     factor = df['TOTAL_FLUX'] / sum_modes
#
#     for col in trans_cols:
#         df[col] = df[col] * factor
#
#     dfs[year] = df
#     df.to_csv(f"../data/output/data_{year}.csv")

In [34]:
# list_dfs = []
# for year, df in dfs.items():
#     temp = df.copy()
#     temp['ANNEE'] = year
#     temp['TRAJET'] = temp['COM_ORG'] + " - " + temp['COM_DEST']
#
#     list_dfs.append(temp)
#
# # Combiner tout
# final_df = pd.concat(list_dfs)
#
# # Mettre le trajet et l'année en index
# final_df = final_df.set_index(['TRAJET', 'ANNEE'])
#
# # Trier l'index pour un accès plus rapide
# final_df = final_df.drop(final_df[final_df['COM_ORG'] == final_df['COM_DEST']].index)
# final_df = final_df.sort_index()
# final_df.to_csv("../data/output/data_final.csv")

In [35]:
# df = final_df.reset_index().copy()
#
# trans_cols = ['TRANS_MP', 'TRANS_TC', 'TRANS_VT', 'TRANS_DRM', 'TRANS_VL']
#
# for col in trans_cols:
#     part_col = col.replace("TRANS_", "PART_")
#     df[part_col] = df[col] / df['TOTAL_FLUX']
#
# df = df.sort_values(by=['TRAJET', 'ANNEE'])
#
# df['DELTA_DUREE'] = df.groupby('TRAJET')['DUREE'].diff()
#
# for col in trans_cols:
#     part_col = col.replace("TRANS_", "PART_")
#     delta_col = part_col.replace("PART_", "DELTA_PART_")
#     df[delta_col] = df.groupby('TRAJET')[part_col].diff()
#
#
# df_analytic = df.copy()
#
# df_analytic = df_analytic[
#     df_analytic['ANNEE'] > 2013
# ].copy()
#
# df_analytic = df_analytic[
#     ['TRAJET', 'ANNEE', 'COM_ORG', 'COM_DEST',
#      'DELTA_PART_MP', 'DELTA_PART_TC', 'DELTA_PART_VT',
#      'DELTA_PART_DRM', 'DELTA_PART_VL', 'DELTA_DUREE']
# ].set_index(['TRAJET', 'ANNEE']).sort_index()
# for year in range(2014, 2022):
#     display(df_analytic.loc["92026 - 92062", year])
#     print("="*100, "\n")

In [36]:
combined_file = gpd.read_file("../data/input/COMMUNE_COMMUNS_DCLT.gpkg")

In [43]:
combined_file

,COMMUNE,DCLT,geom_dclt,geometry
0,75056,75101,None,"POLYGON ((653313.8 6857558.1, 653249.3 6857530..."
1,75056,75102,None,"POLYGON ((653313.8 6857558.1, 653249.3 6857530..."
2,75056,75103,None,"POLYGON ((653313.8 6857558.1, 653249.3 6857530..."
3,75056,75104,None,"POLYGON ((653313.8 6857558.1, 653249.3 6857530..."
4,75056,75105,None,"POLYGON ((653313.8 6857558.1, 653249.3 6857530..."
...,...,...,...,...
53450,95607,95582,"POLYGON ((643314.8 6874842.4, 643325.5 6874862...","POLYGON ((643224.9 6879377.6, 643211.2 6879358..."
53451,95607,95585,"POLYGON ((654787.5 6874763.7, 654775.6 6874764...","POLYGON ((643224.9 6879377.6, 643211.2 6879358..."
53452,95607,95598,"POLYGON ((649270.6 6875492.5, 649255.7 6875504...","POLYGON ((643224.9 6879377.6, 643211.2 6879358..."
53453,95607,95604,"POLYGON ((666571.5 6891479.6, 666578.1 6891476...","POLYGON ((643224.9 6879377.6, 643211.2 6879358..."
53454,95607,95607,"POLYGON ((643224.9 6879377.6, 643211.2 6879358...","POLYGON ((643224.9 6879377.6, 643211.2 6879358..."

In [42]:
# combined_file
combined_file_no_geom = combined_file.drop(columns=['geometry', 'geom_dclt'])
combined_file_no_geom

      COMMUNE   DCLT
0       75056  75101
1       75056  75102
2       75056  75103
3       75056  75104
4       75056  75105
...       ...    ...
53450   95607  95582
53451   95607  95585
53452   95607  95598
53453   95607  95604
53454   95607  95607

[53455 rows x 2 columns]

In [49]:
%%sql
SELECT DISTINCT COMMUNE FROM combined_file_no_geom

    COMMUNE
0     77084
1     77093
2     77104
3     77108
4     77123
..      ...
871   93047
872   93062
873   94001
874   95580
875   95592

[876 rows x 1 columns]

In [ ]:
data = combined_file.loc[~combined_file["geom_dclt"].isna(), "geom_dclt"]
gdf = combined_file.set_geometry("geom_dclt")
# gdf = gdf[~gdf.geometry.isna()]

In [ ]:
gdf["centroids"] = gdf.geom_dclt.centroid